*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 400px;
    height: 400px;
    background-color: white;
    color: gray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 15px 10px;
    
}

.container h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 10px;
}

   

form input{
    margin: 7px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    height: 50px;
    padding: 0px 8px;
}

 form #button{
    background-color: green;
    color: white;
    margin-top: 15px;
    width: 100%;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}